.Question {
  display: none;

  .Navigate {
    display: block;
    overflow: hidden;

    img {
      cursor: pointer;
    }

    .Prev {
      display: none;
      float: left;
    }

    .Next {
      float: right;
      transform: scaleX(-1);
    }
  }

  .Title {
    font-weight: normal;
    font-size: 28px;
  }

  .Description {
    font-size: 16px;
  }

  .Answers {
    display: block;
    cursor: pointer;
    text-align: center;
  }
}

@media (min-width: 500px) {
  .Question {
    .Answers {
      display: flex;
      justify-content: center;
    }
  }
}